In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
liga = pd.read_csv("Liga", sep = "\t", encoding = "latin-1", index_col = 0)
total = pd.read_csv("total", sep = "\t", encoding = "latin-1", index_col = 0)

Minutos jugados

In [65]:
total.sort_values("Minutos", ascending = False)[["Nombre", "Minutos"]]

          Nombre  Minutos
0     Ter Stegen    450.0
19         Messi    450.0
3          Pique    450.0
5     Jordi Alba    450.0
18   Luis Suarez    450.0
20       Dembele    402.0
8        Rakitic    385.0
9       Busquets    373.0
15    S. Roberto    360.0
6         Umtiti    334.0
11      Coutinho    301.0
2         Semedo    180.0
4        Lenglet    116.0
13       Rafinha    101.0
12        Arthur     81.0
16  Arturo Vidal     60.0
21        Malcom      7.0
22         Munir      0.0
1       Cillesen      NaN
7      Vermaelen      NaN
10  Denis Suarez      NaN
14        Samper      NaN
17         Aleña      NaN